<br>
<div class="row">
	<div class="col-xs-2 col-sm-1">
		{{#if this.read}}
			<i class="fa fa-envelope-open-o" aria-hidden="true"></i>
		{{else}}
			<i class="fa fa-envelope-square" aria-hidden="true"></i>
		{{/if}}
	</div>
	<div class="col-xs-10 col-sm-11">
		{{#if this.read}}
			<p>{{this.title}}</p>
		{{else}}
			<p><strong>{{this.title}}</strong></p>
		{{/if}}
		
	</div>
</div>